$base-color: #ececec;
$base-gray: #a9abc2;
$base-border: 1px solid rgb(233, 236, 252);
$base-padding: 15px 20px;

#todo {
  // border: 1px solid $base-color;
  padding-top: 120px;
}

#todo .todo-wrap {
  max-width: 420px;
  background-color: #fff;
  border-radius: 7px;
  margin: 0 auto;
  box-sizing: border-box;
  // padding: 15px 20px;

  // border: 1px solid #adadad;
  -webkit-box-shadow: 0 20px 70px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 20px 70px rgba(0, 0, 0, 0.3);
  box-shadow: 0 20px 70px rgba(0, 0, 0, 0.3);
}

/*
* Header Wrap
*/

#todo .todo-wrap .header-wrap {
  // border: 1px solid blue;
  padding: $base-padding;
  background-color: rgb(255, 255, 255);
  border-bottom: $base-border;
  border-bottom-width: 5px;
  border-radius: 7px 7px 0px 0px;
}

#todo .todo-wrap .header-wrap .day {
  display: flex;
  gap: 5px;
}

#todo .todo-wrap .header-wrap .day .day-name {
  font-size: 24px;
  font-weight: 600;
}

#todo .todo-wrap .header-wrap .day .day-number {
  font-size: 22px;
  font-weight: 400;
}

#todo .todo-wrap .header-wrap .month-name {
  margin-top: 7px;
  color: $base-gray;
}

/*
* Todo List Wrap
*/

#todo .todo-wrap .todo-list-wrap {
  // padding: $base-padding;
  // border: 1px solid blue;
}

#todo .todo-wrap .todo-list-wrap .todo-list {
  // font-size: 14px;
  display: flex;
  // border: 1px solid blue;
  padding: $base-padding;
  border-bottom: $base-border;
}

#todo .todo-wrap .todo-list-wrap .todo-list:last-child {
  border-bottom: none;
}

#todo .todo-wrap .todo-list-wrap .todo-list * {
  // border: 1px solid blue;
}

#todo .todo-wrap .todo-list-wrap .todo-list .check-wrap {
  // cursor: pointer;
}

#todo .todo-wrap .todo-list-wrap .todo-list .check-wrap img.checkbox {
  width: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#todo .todo-wrap .todo-list-wrap .todo-list .content {
  flex-basis: 100%;
  padding-top: 2px;
  padding-left: 12px;
  display: flex;
  align-items: center;
}

#todo .todo-wrap .todo-list-wrap .todo-list .time {
  width: 100px;
  // height: 100px;
  text-align: right;
  display: inline-block;
  font-size: 14px;
  // vertical-align:middle!important;
  display: flex;
  align-items: center;
  justify-content: right;
  color: $base-gray;
}

/*
* Form Wrap
*/

#todo .todo-wrap .form-wrap {
}
