<div id="todo">
  <div class="todo-wrap">
    <div class="header-wrap">
      <div class="day">
        <p class="day-name">{{ dayNow }}</p>
        <p class="day-number">{{ dateNow }}th</p>
      </div>
      <p class="month-name">February</p>
    </div>
    <div class="todo-list-wrap">
      <div *ngFor="let todo of todoList; index as i" class="todo-list">
        <div class="check-wrap">
          <img
            *ngIf="todo.active; else elseBlock"
            (click)="toggleTodoActive(i)"
            src="../../../assets/icon/i-checkbox-marked.png"
            class="checkbox"
          />
          <ng-template #elseBlock>
            <img
              (click)="toggleTodoActive(i)"
              src="../../../assets/icon/i-checkbox-blank.png"
              class="checkbox"
            />
          </ng-template>
        </div>
        <p
          [ngClass]="{ 'content-marked': todo.active == true }"
          class="content"
        >
          {{ todo.content }}
        </p>
        <p class="time">
          {{ todo.time.hour }}
          :
          {{ todo.time.minutes }}
          <!-- <ng-template *ngIf="todo.time.minutes == 0"
            >{{ todo.time.minutes }} asdf</ng-template
          > -->
          <!-- <ng-template #elseBlock>{{ todo.time.minutes }}</ng-template> -->
        </p>
      </div>
    </div>
    <div class="form-wrap">
      <input
        [(ngModel)]="form.todo"
        (keyup.enter)="submitTodo()"
        type="text"
        name="todo"
        class="todo-form"
        placeholder="Write what to do today"
      />
      <input
        (click)="submitTodo()"
        type="button"
        value="작성"
        class="btn-submit"
      />
    </div>
  </div>

  <!-- <button (click)="getTimeEx()">getTime</button> -->
  <!-- {{ dateTime | json }} -->
</div>
