$content: rgb(20, 20, 20);

::ng-deep body {
  margin: 0;
  padding: 0;
}

::ng-deep body * {
  margin: 0;
  color: rgb(34, 34, 34);
  // color: black;
}

::ng-deep body a {
  // text-decoration: none;
  color: $content;
}

::ng-deep body img {
  -webkit-user-select: none;
  -webkit-user-drag: none;
}
